.shipsInfo {
  display: flex;
  width: 100%;
  font-size: 20px;
  font-weight: 400;

  &__title {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
  }

  &__list {
    flex: 0 1 30%;
    min-height: 250px;
    max-height: 250px;
    padding-left: 20px;
    overflow-y: scroll;
    margin: 0;
    border: 1px solid #000;
    list-style: none;
    overflow-y: auto;
    list-style: none;

    @media (max-width: 780px) {
      padding-left: 10px;
    }
  }

  &__link {
    width: 100%;
    min-height: 25px ;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;

  @media (max-width: 780px) {
    font-size: 16px;
  }

  @media (max-width: 400px) {
    font-size: 14px;
  }

    .active {
      font-weight: 600;
      color: rgb(250, 248, 248);
      background-color: rgb(154, 84, 211);
    }
  }

}
